.contact-pg {
	background-color: $sub-bg-color;
	padding-top: 100px;
	.contact-wrap {
		max-width: 1300px;
		padding: 150px 0 260px;
		margin: 0 auto;
	}
	.title-group {
		@include textPadding();
		text-align: center;
		dt {
			font-size: 45px;
			font-weight: 600;
		}
		dd {
			font-size: 22px;
			color: #6d6d6d;
			margin-top: 12px;
		}
	}
	.form-group {
		box-sizing: border-box;
		width: 100%;
		padding: 80px 108px;
		background-color: #fff;
		border-radius: 15px;
		margin-top: 60px;
		> p {
			font-size: 20px;
			font-weight: 800;
		}
		.form-list {
			width: 100%;
			max-width: 848px;
			margin-top: 24px;
			li {
				display: flex;
				margin-bottom: 16px;
				label {
					position: relative;
					display: block;
					box-sizing: border-box;
					width: 200px;
					padding: 14px 0;
					font-size: 18px;
					font-weight: 700;
					cursor: pointer;
					flex-shrink: 0;
					margin-right: 16px;
					padding-left: 14px;
				}
				input {
					box-sizing: border-box;
					width: 100%;
					max-width: 308px;
					padding: 0 16px;
					font-size: 16px;
					border: 1px solid #cecece;
					border-radius: 4px;
				}
				i {
					position: absolute;
					top: 50%;
					left: 0;
					color: #e70017;
					transform: translateY(-50%);
				}
				select {
					box-sizing: border-box;
					width: 100%;
					max-width: 308px;
					padding: 0 16px;
					font-size: 16px;
					color: #a8a8a8;
					background: url('../img/common/arrow-down.svg') no-repeat 98% 50%;
					background-position: right 12px center;
					border: 1px solid #cecece;
					border-radius: 4px;
				}
				textarea {
					box-sizing: border-box;
					width: 100%;
					height: 216px;
					padding: 16px;
					font-size: 16px;
					line-height: 1.3;
					border: 1px solid #cecece;
					border-radius: 4px;
					resize: none;
				}
			}
		}
		.check {
			display: flex;
			justify-content: center;
			margin-top: 24px;
			input {
				appearance: none;
				&[type='checkbox'] {
					box-sizing: border-box;
					width: 32px;
					height: 32px;
					margin: 0;
					background-color: #d9d9d9;
					background-image: url('../img/common/check_wh.svg');
					background-repeat: no-repeat;
					background-position: center;
					border-radius: 50%;
					margin-right: 12px;
					&:checked {
						background-color: #333;
					}
				}
			}
			label {
				display: block;
				padding: 0;
				font-size: 16px;
				font-weight: 600;
				cursor: pointer;
				margin-right: 8px;
				padding-top: 6px;
			}
			.show-pop-btn {
				text-decoration: underline;
				color: #4b4b4b;
				cursor: pointer;
				padding-top: 6px;
				text-underline-position: under;
			}
		}
		.submit {
			width: 100%;
			max-width: 416px;
			margin: 0 auto;
			margin-top: 40px;
			a {
				display: block;
				width: 100%;
				padding: 14px 0;
				font-size: 20px;
				font-weight: 800;
				text-align: center;
				color: #fff;
				background-color: $primary-color;
				border-radius: 100px;
			}
		}
	}

	@include mob-only {
		padding-top: 55px;
		.contact-wrap {
			padding: pxToVw3(130px) 20px pxToVw3(150px);
		}
		.title-group {
			padding: 0;
			dt {
				font-size: pxToVw3(70px);
			}
			dd {
				font-size: pxToVw3(30px);
				margin-top: pxToVw3(20px);
			}
		}
		.form-group {
			// border-radius: 15px;
			margin-top: pxToVw3(64px);
			padding: pxToVw3(38px) pxToVw3(32px);
			> p {
				font-size: pxToVw3(38px);
			}
			.form-list {
				// max-width: 848px;
				// margin-top: 24px;
				li {
					// margin-bottom: 16px;
					flex-direction: column;
					label {
						width: auto;
						// width: 200px;
						padding: pxToVw3(20px) 14px pxToVw3(20px);
						font-size: pxToVw3(32px);
						// font-weight: 700;
						// flex-shrink: 0;
						margin-right: 0;
						// padding-left: 14px;
					}
					input {
						height: pxToVw3(100px);
						// max-width: 308px;
						padding: 0 pxToVw3(40px);
						// font-size: 16px;
						// border-radius: 4px;
					}
					select {
						height: pxToVw3(100px);
						padding: 0 pxToVw3(40px);
						// max-width: 308px;
						// padding: 0 16px;
						// font-size: 16px;
						// background-position: right 12px center;
						// border: 1px solid #cecece;
						// border-radius: 4px;
					}
					textarea {
						height: pxToVw3(380px);
						padding: pxToVw3(40px);
						// padding: 16px;
						// font-size: 16px;
						// line-height: 1.3;
						// border-radius: 4px;
					}
				}
			}
			.check {
				align-items: center;
				// margin-top: 24px;
				input {
					&[type='checkbox'] {
						@include size(pxToVw3(52px), pxToVw3(52px));
						// width: 32px;
						// height: 32px;
						// margin: 0;
						// border-radius: 50%;
						// margin-right: 12px;
					}
				}
				label {
					padding: 0;
					font-size: pxToVw3(28px);
					// font-weight: 600;
					// margin-right: 8px;
					// padding-top: 6px;
				}
				.show-pop-btn {
					font-size: pxToVw3(28px);
					padding-top: 0;
				}
			}
			.submit {
				// width: 100%;
				// max-width: 416px;
				margin-top: pxToVw3(68px);
				a {
					padding: pxToVw3(24px) 0;
					font-size: pxToVw3(28px);
					// border-radius: 100px;
				}
			}
		}
	}
}

.agree-pop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	display: none;
	width: 100%;
	height: 100vh;
	.pop-bg {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.6);
	}
	.pop-cont {
		position: absolute;
		top: 50%;
		left: 50%;
		box-sizing: border-box;
		width: 90%;
		height: auto;
		max-width: 1100px;
		padding: 60px;
		margin: 0 auto;
		background-color: #fff;
		border-radius: 16px;
		transform: translate(-50%,-50%);
		.cont {
			dt {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				font-size: 24px;
				font-weight: 600;
				border-bottom: 1px solid #999;
				cursor: pointer;
				padding-bottom: 15px;
				span {
					display: block;
					width: 30px;
				}
			}
			dd {
				overflow-y: scroll;
				max-height: 500px;
				margin-top: 28px;
			}
		}
	}
	@include mob-only {
		.pop-bg {
			display: none;
		}
		.pop-cont {
			position: static;
			width: 100%;
			height: 100%;
			padding: pxToVw3(60px);
			border-radius: 0;
			transform: none;
			.cont {
				dt {
					padding: pxToVw3(60px) 0;
					span {
						margin-top: -10vw;
					}
				}
			}
		}
	}
}
