{% set pageInfo = { 'section': 'brand', 'title': '브랜드소개', 'order': '0' } %} {% set bkInteriorImg = [ 'interior_bk1.webp', 'interior_bk2.webp', 'interior_bk3.webp',
'interior_bk4.webp', 'interior_bk5.webp', 'interior_bk6.webp', 'interior_bk7.webp', 'interior_bk8.webp' ] %} {% set bkcInteriorImg = [ 'interior_bkc1.webp', 'interior_bkc2.webp',
'interior_bkc3.webp', 'interior_bkc4.webp', 'interior_bkc5.webp' ] %} {% set cbkInteriorImg = [ 'interior_cbk1.webp', 'interior_cbk2.webp', 'interior_cbk3.webp',
'interior_cbk4.webp', 'interior_cbk5.webp' ] %} {% set bkMenuImg = [ 'menu_bk1.webp', 'menu_bk2.webp', 'menu_bk3.webp', 'menu_bk4.webp', 'menu_bk5.webp', 'menu_bk6.webp',
'menu_bk7.webp', 'menu_bk8.webp', 'menu_bk9.webp', 'menu_bk10.webp', 'menu_bk11.webp', 'menu_bk12.webp', 'menu_bk13.webp', 'menu_bk14.webp', 'menu_bk15.webp', 'menu_bk16.webp',
'menu_bk17.webp', 'menu_bk18.webp', 'menu_bk19.webp', 'menu_bk20.webp', 'menu_bk21.webp', 'menu_bk22.webp', 'menu_bk23.webp', 'menu_bk24.webp', 'menu_bk25.webp', 'menu_bk26.webp',
'menu_bk27.webp', 'menu_bk28.webp', 'menu_bk29.webp', 'menu_bk30.webp' ] %} {% set bkcMenuImg = [ 'menu_bkc1.webp', 'menu_bkc2.webp', 'menu_bkc3.webp', 'menu_bkc4.webp',
'menu_bkc5.webp', 'menu_bkc6.webp', 'menu_bkc7.webp', 'menu_bkc8.webp', 'menu_bkc9.webp', 'menu_bkc10.webp', 'menu_bkc11.webp', 'menu_bkc12.webp', 'menu_bkc13.webp' ] %} {% extends
"layout.html" %} {% block content %}

<div class="brand-pg">
	<div class="brand-wrap">
		<!--  부엌간 -->
		<section class="sc-brand-info b1">
			<div class="title-group">
				<h4 class="title">부엌간</h4>
			</div>
			<div class="cont-group">
				<div class="info-area">
					<div class="inner">
						<div class="swiper interior-swiper">
							<div class="swiper-wrapper">
								{% for image in bkInteriorImg %}
								<div class="swiper-slide">
									<img src="../img/sub/brands/interior/bk/{{ image }}" alt="부엌간 인테리어 이미지" />
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
					<p class="desc">
						“My Favorite European Restaurant” 이라는
						<span><br /></span>슬로건을 기반으로 운영하는 유러피안 레스토랑 ‘부엌간’입니다. <br />
						<br />2021년부터 시작한 광주광역시 동명점을 기반으로 <span><br /></span>시작하여 펜더믹 시기에 핫플의 랜드마크가 된 매장입니다. <br />
						<br />부엌간은 공간업을 기반으로 하는 외식사업을 진행하며, <span><br /></span>수많은 레스토랑들과 차별화된 ‘공간적 가치’를 전달 합니다.
						<span><br /></span>진부한 레스토랑이 아닌 부엌간만의 아이덴티티를 녹인 메뉴들로 구성되어 있고, <span><br /></span>전문 쉐프가 아니여도 신입 직원도 배워서
						마스터 할 수 있는 난이도로 <span><br /></span>쉬운 운영이 되게끔 셋팅 되어 있으며 다양한 메뉴 개발,마케팅,CS교육등 <span><br /></span>매장 운영하면서 챙기기
						어려운 내용들을 본사에서 진행하고 있습니다.
					</p>
				</div>
				<div class="menu-area">
					<div>
						<em class="tit">Menu</em>
						<p class="desc">부엌간이 만들면 평범한 메뉴도 특별해집니다.</p>
					</div>
					<div class="swiper menu-swiper">
						<div class="swiper-wrapper">
							{% for image in bkMenuImg %}
							<div class="swiper-slide">
								<img src="../img/sub/brands/menu/bk/{{ image }}" alt="부엌간 메뉴 이미지" />
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="store-area">
					<div>
						<em class="tit">Store</em>
						<p class="desc">주변의 가까운 BUUK의 매장을 확인해 보세요!</p>
					</div>
					<ul class="store-list">
						<li><strong>동명 직영점</strong> 광주 동구 동계천로 167-1 1층 부엌간</li>
						<li><strong>수완 직영점</strong> 광주 광산구 수완로106번길 37 1층</li>
						<li><strong>상무 직영본점</strong> 광주 서구 서광주로 25 1층</li>
						<li><strong>봉선점</strong> 광주 남구 봉선로133번길 15 더플레이스 봉선</li>
						<li><strong>여수점</strong> 전남 여수시 돌산읍 백초길 28-58 엘리스테이 여수 4층</li>
						<li><strong>부엌간 해운대점</strong>부산 해운대구 달맞이길117번나길 200 2층</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- // 부엌간 -->
		<!--  부엌간 차이니즈 -->
		<section class="sc-brand-info b2">
			<div class="title-group">
				<h4 class="title">부엌간 차이니즈</h4>
			</div>
			<div class="cont-group">
				<div class="info-area">
					<div class="inner">
						<div class="swiper interior-swiper">
							<div class="swiper-wrapper">
								{% for image in bkcInteriorImg %}
								<div class="swiper-slide">
									<img src="../img/sub/brands/interior/bkc/{{ image }}" alt="부엌간차이니즈 인테리어 이미지" />
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
					<p class="desc">
						부엌간 차이니즈는 유러피안 차이니즈 레스토랑입니다.
						<br />일반 중식당과 다르게 유러피안 감성을 기반으로 한 <br />차이니즈 레스토랑으로 고수 짬뽕,깐풍 아귀,마늘 유린기와 같은 <br />부엌간 차이니즈에만 있는
						특별한 메뉴로 구성 되어 있습니다.
					</p>
				</div>
				<div class="menu-area">
					<div>
						<em class="tit">Menu</em>
						<p class="desc">부엌간 차이니즈가 만들면 평범한 메뉴도 특별해집니다.</p>
					</div>
					<div class="swiper menu-swiper">
						<div class="swiper-wrapper">
							{% for image in bkcMenuImg %}
							<div class="swiper-slide">
								<img src="../img/sub/brands/menu/bkc/{{ image }}" alt="부엌간차이니즈 메뉴 이미지" />
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="store-area">
					<div>
						<em class="tit">Store</em>
						<p class="desc">주변의 가까운 BUUK Chinese의 매장을 확인해 보세요!</p>
					</div>
					<ul class="store-list">
						<li><strong>해운대점</strong> 부산 해운대구 달맞이길117번나길 200 1층</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- // 부엌간 차이니즈 -->
		<!-- 카페 드 부엌 -->
		<section class="sc-brand-info b3">
			<div class="title-group">
				<h4 class="title">카페 드 부엌</h4>
			</div>
			<div class="cont-group">
				<div class="info-area">
					<div class="inner">
						<div class="swiper interior-swiper">
							<div class="swiper-wrapper">
								{% for image in cbkInteriorImg %}
								<div class="swiper-slide">
									<img src="../img/sub/brands/interior/cbk/{{ image }}" alt="카페드부엌 인테리어 이미지" />
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
					<p class="desc">
						카페 드 부엌은 유러피안 감성을 바탕으로 기획된 브랜드입니다.
						<br />다양한 카페가 우후죽순으로 생겨나는 지금, <br />단순히 커피를 잘해서는 살아남기 힘듭니다. <br /><br />
						<br />카페 드 부엌은 단순한 유럽 감성이 아닌 <br />디테일한 유러피안 감성을 담아내, <br />방문하시는 고객님들께 공간적 가치와 커피의 즐거움을 선사합니다.
						<br /><br />
						<br />전문적인 커피와 흔하지 않은 디저트로 카페 드 부엌만의 <br />정체성을 확보하고 체계적인 교육을 통해 커피가 처음인 분들도 <br />쉽게 창업하실 수 있도록
						도움을 드리고 있습니다.
					</p>
				</div>
				<div class="store-area">
					<div>
						<em class="tit">Store</em>
						<p class="desc">주변의 가까운 BUUK Chinese의 매장을 확인해 보세요!</p>
					</div>
					<ul class="store-list">
						<li><strong>해운대점</strong> 부산 해운대구 달맞이길117번나길 200 1층</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- // 카페 드 부엌 -->
	</div>
</div>

<script>
	const brandInteriorSwiper = new Swiper('.sc-brand-info .interior-swiper', {
		loop: true,
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
	});

	const brandMenuSwiper = new Swiper('.sc-brand-info .menu-swiper', {
		loop: true,
		slidesPerView: 'auto',
		speed: 2500,
		spaceBetween: 38,
		autoplay: {
			delay: 1,
		},
	});

	// URL에서 브랜드 파라미터를 가져기
	const urlParams = new URLSearchParams(window.location.search);
	const brand = urlParams.get('brand');

	const $brandPg = document.querySelector('.brand-pg');
	const $scBrandInfo = document.querySelectorAll('.brand-pg .sc-brand-info');

	// 브랜드별 페이지 높이값 매핑
	const brandPgHeight = {
		b1: {
			pc: '2235px',
			mob: '396vh',
		},
		b2: {
			pc: '2060px',
			mob: '283vh',
		},
		b3: {
			pc: '1483px',
			mob: '257vh',
		},
	};

	const getBrandPgHeight = (brand) => {
		const screenWidth = window.innerWidth;
		const heights = brandPgHeight[brand];

		if (screenWidth <= 768) {
			return heights.mob;
		} else {
			return heights.pc;
		}
	};
	$scBrandInfo.forEach((item) => {
		if (item.classList.contains(brand)) {
			item.classList.add('active');
			$brandPg.style.height = getBrandPgHeight(brand) || 'auto';
		}
	});

	window.addEventListener('resize', () => {
		$brandPg.style.height = getBrandPgHeight(brand) || 'auto';
	});
</script>
{% endblock %}
