{% set pageInfo = { 'section': 'brands', 'title': '브랜드소개', 'order': '0' } %} {% extends "layout.html" %} {% block content %}

<div class="brands-pg">
	<div class="brands-wrap">
		<section class="sc-brands">
			<div class="title-group">
				<h2 class="title">BRANDS</h2>
			</div>
			<div class="brands-group">
				<ul class="brands-list">
					<li class="brands-item">
						<a href="/sub/brand.html?brand=b1">
							<h3 class="name">부엌간</h3>
							<img src="../img/sub/brands/brands_bk.webp" alt="부엌간 이미지" />
							<div class="overlay"><span class="blind">오버레이 이미지</span></div>
						</a>
					</li>
					<li class="brands-item">
						<a href="/sub/brand.html?brand=b2">
							<h3 class="name">부엌간 차이니즈</h3>
							<img src="../img/sub/brands/brands_bkc.webp" alt="부엌간 차이니즈 이미지" />
							<div class="overlay"><span class="blind">오버레이 이미지</span></div>
						</a>
					</li>
					<li class="brands-item">
						<a href="/sub/brand.html?brand=b3">
							<h3 class="name">카페 드 부엌</h3>
							<img src="../img/sub/brands/brands_cbk.webp" alt="카페 드 부엌 이미지" />
							<div class="overlay"><span class="blind">오버레이 이미지</span></div>
						</a>
					</li>
				</ul>
			</div>
		</section>
	</div>
</div>
{% endblock %}
