{% set pageInfo = { 'section': 'franchise', 'title': '프랜차이즈', 'order': '0' } %} {% extends "layout.html" %} {% block content %}
<div class="franchise-pg">
	<div class="banner-group">
		<h2 class="title">FRANCHISE</h2>
		<div class="overlay"><span class="blind">오버레이 박스</span></div>
	</div>
	<div class="process-group">
		<div class="process-wrap">
			<h3>BUUK 가맹점 개설 절차</h3>
			<ul class="process-list">
				<li>
					<span class="num">STEP. 01</span>
					<h4 class="tit">가맹 상담</h4>
					<p class="text">예비 점주님과 사업 목적과<br />방향을 설정하여<br />1:1 맞춤상담 진행</p>
				</li>
				<li>
					<span class="num">STEP. 02</span>
					<h4 class="tit">상권 분석</h4>
					<p class="text">상권내 입지조사 및<br />분석을 통한 최적의 점포 선정</p>
				</li>
				<li>
					<span class="num">STEP. 03</span>
					<h4 class="tit">점포 선정</h4>
					<p class="text">점포 결정 및 본사 승인<br />임대차 계약 진행</p>
				</li>
				<li>
					<span class="num">STEP. 04</span>
					<h4 class="tit">가맹 계약 체결</h4>
					<p class="text">가맹 계약 체결과<br />개점 계획 협의</p>
				</li>
				<li>
					<span class="num">STEP. 05</span>
					<h4 class="tit">인테리어 시설 공사</h4>
					<p class="text">시설공사 실시와<br />각종 인허가 진행</p>
				</li>
				<li>
					<span class="num">STEP. 06</span>
					<h4 class="tit">가맹점주 교육</h4>
					<p class="text">운영/레시피 교육<br />경영 노하우 제공</p>
				</li>
				<li>
					<span class="num">STEP. 07</span>
					<h4 class="tit">개점 준비</h4>
					<p class="text">주방기기, 집기 비품,<br />원부자재 입고 등 세팅</p>
				</li>
				<li>
					<span class="num">STEP. 08</span>
					<h4 class="tit">오픈 최종 점검</h4>
					<p class="text">담당SV 최종 점검과<br />오픈 승인</p>
				</li>
				<li>
					<span class="num">STEP. 09</span>
					<h4 class="tit">오픈</h4>
					<p class="text">모든 인력과 식자재<br />준비를 마치고 오픈</p>
				</li>
				<li>
					<span class="num">STEP. 10</span>
					<h4 class="tit">경영 관리</h4>
					<p class="text">오픈 후 슈퍼바이져의 지속적인<br />점검을 통해 청결, 서비스, 음식,<br />매장의 전반적인 부분을 관리</p>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
