{% set pageInfo = { 'section': 'main', 'title': '', 'order': '0' } %} {% extends "layout.html" %} {% block content %}
<main class="main">
	<section class="sc-main">
		<img src="../img/main/main_visual.webp" alt="메인비주얼 이미지" />
		<div class="overlay"><span class="blind">오버레이 박스</span></div>
		<div class="title-wrap">
			<div class="img">
				<img src="../img/main/main_visual_logo.png" alt="비유유케이 로고" />
			</div>
			<p class="txt">
				세계의 맛을 담은 <span></span> 유러피안 F&B, BUUK<br />
				평온하고 품격있는 외식업 문화를 선도하는 <strong>BUUK</strong>와 함께 <strong>성공적인 <span></span> 창업의 길</strong>을 열어보세요.
			</p>
		</div>
	</section>

	<section class="sc-about">
		<div class="text-group">
			<div class="title">
				<span class="txt">저희는 진실된 요리와 섬세한 서비스,</span>
				<span class="txt">그리고 새로운 공간에 대한</span>
				<span class="txt">라이프 스타일을 지향합니다.</span>
			</div>
			<div class="desc">맛있는 음식과 넓은 공간,<br />편안한 분위기<br /><br />그러나 무엇보다도,<br /><br />고객을 가장 소중히 여기는 공간이 되고자 합니다.</div>
		</div>
		<div class="img-group">
			<div class="img-wrap">
				<img src="../img/main/main_about01.webp" alt="부엌간 공간 이미지1" />
				<img src="../img/main/main_about02.webp" alt="부엌간 공간 이미지2" />
			</div>
			<div class="decor"><span class="blind">컬러 박스</span></div>
		</div>
	</section>

	<section class="sc-brands">
		<div class="brands-group">
			<div class="text-area">
				<h3 class="title">Our Brands</h3>
				<article class="wrap">
					<div class="brand">부엌간</div>
					<p class="desc">“My Favorite European Restaurant” 이라는 슬로건을 기반으로<br />운영하는 유러피안 레스토랑 ‘부엌간’입니다.</p>
				</article>
				<a href="/sub/brand.html?brand=b1" class="more-link"><span>View More</span></a>
			</div>
			<div class="img-area">
				<div class="img"><img src="../img/main/main_brands01.webp" alt="부엌간 이미지" /></div>
			</div>
		</div>
		<div class="brands-group">
			<div class="text-area">
				<h3 class="title">Our Brands</h3>
				<article class="wrap">
					<div class="brand">부엌간 차이니즈</div>
					<p class="desc">일반 중식당과 다르게 유러피안 감성을 기반으로 한 차이니즈 레스토랑입니다.</p>
				</article>
				<a href="/sub/brand.html?brand=b2" class="more-link"><span>View More</span></a>
			</div>
			<div class="img-area">
				<div class="img"><img src="../img/main/main_brands02.webp" alt="부엌간 차이니즈 이미지" /></div>
			</div>
		</div>
		<div class="brands-group">
			<div class="text-area">
				<h3 class="title">Our Brands</h3>
				<article class="wrap">
					<div class="brand">카페 드 부엌</div>
					<p class="desc">카페 드 부엌은 단순한 유럽 감성이 아닌 디테일한 유러피안 감성을 담아내,<br />방문하시는 고객님들께 공간적 가치와 커피의 즐거움을 선사합니다.</p>
				</article>
				<a href="/sub/brand.html?brand=b3" class="more-link"><span>View More</span></a>
			</div>
			<div class="img-area">
				<div class="img"><img src="../img/main/main_brands03.webp" alt="카페 드 부엌 이미지" /></div>
			</div>
		</div>
		<div class="circle">
			<span>01</span>
			<span>03</span>
		</div>
	</section>

	<section class="sc-menu">
		<div class="text-group">
			<h3 class="title">MENU</h3>
			<p class="desc">익숙하지만 새롭고, 트렌디하지만 품격 있는 요리<br />대중성과 차별성 있는 메뉴와 수익성까지 갖춘 BUUK의 메뉴를 소개합니다.</p>
		</div>
		<div class="menu-group">
			<div class="inner">
				<div class="line"></div>
				<article>
					<div class="brand-wrap">
						<p class="brand">부엌간</p>
						<ul class="menu-list">
							<li>
								<figure>
									<img src="../img/main/test.webp" alt="부엌간 메뉴 이미지" />
									<figcaption>메뉴명</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/test.webp" alt="부엌간 메뉴 이미지" />
									<figcaption>메뉴명</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/test.webp" alt="부엌간 메뉴 이미지" />
									<figcaption>메뉴명</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/test.webp" alt="부엌간 메뉴 이미지" />
									<figcaption>메뉴명</figcaption>
								</figure>
							</li>
						</ul>
					</div>
					<div class="brand-wrap second">
						<ul class="menu-list">
							<li>
								<figure>
									<img src="../img/main/test.webp" alt="부엌간 메뉴 이미지" />
									<figcaption>메뉴명</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/test.webp" alt="부엌간 메뉴 이미지" />
									<figcaption>메뉴명</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/test.webp" alt="부엌간 메뉴 이미지" />
									<figcaption>메뉴명</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/test.webp" alt="부엌간 메뉴 이미지" />
									<figcaption>메뉴명</figcaption>
								</figure>
							</li>
						</ul>
						<p class="brand">부엌간 차이니즈</p>
					</div>
					<div class="brand-wrap third">
						<p class="brand">카페 드 부엌</p>
						<ul class="menu-list">
							<li>
								<figure>
									<img src="../img/main/test.webp" alt="부엌간 메뉴 이미지" />
									<figcaption>메뉴명</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/test.webp" alt="부엌간 메뉴 이미지" />
									<figcaption>메뉴명</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/test.webp" alt="부엌간 메뉴 이미지" />
									<figcaption>메뉴명</figcaption>
								</figure>
							</li>
							<li>
								<figure>
									<img src="../img/main/test.webp" alt="부엌간 메뉴 이미지" />
									<figcaption>메뉴명</figcaption>
								</figure>
							</li>
						</ul>
					</div>
				</article>
				<a href="" class="more-link"><span>View More</span></a>
			</div>
		</div>
	</section>

	<section class="sc-store">
		<div class="text-group">
			<h3 class="title">Store</h3>
			<p class="desc">주변의 가까운 BUUK의 매장을<br />확인해 보세요!</p>
		</div>
		<div class="img-group">
			<div class="col-left">
				<div class="swiper col-left-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_bk_dm1.webp" alt="부엌간 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>부엌간 동명점</dt>
										<dd>BUUK</dd>
									</dl>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_bkc2.webp" alt="부엌간 차이니즈 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>부엌간 차이니즈 해운대점</dt>
										<dd>BUUK Chinese</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_cbk2.webp" alt="카페 드 부엌간 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>카페 드 부엌간 해운대점</dt>
										<dd>Cafe' de BuuK</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_bk_hd1.webp" alt="부엌간 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>부엌간 해운대점</dt>
										<dd>BUUK</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_bk_hd2.webp" alt="부엌간 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>부엌간 해운대점</dt>
										<dd>BUUK</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_bk_hd3.webp" alt="부엌간 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>부엌간 해운대점</dt>
										<dd>BUUK</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_cbk1.webp" alt="카페 드 부엌간 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>카페 드 부엌간 해운대점</dt>
										<dd>Cafe' de BuuK</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-right">
				<div class="swiper col-right-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_bk_sm2.webp" alt="부엌간 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>부엌간 상무점</dt>
										<dd>BUUK</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_bk_sw1.webp" alt="부엌간 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>부엌간 수완점</dt>
										<dd>BUUK</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_bk_sw2.webp" alt="부엌간 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>부엌간 수완점</dt>
										<dd>BUUK</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_bkc1.webp" alt="부엌간 차이니즈 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>부엌간 차이니즈 해운대점</dt>
										<dd>BUUK Chinese</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_bk_dm2.webp" alt="부엌간 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>부엌간 동명점</dt>
										<dd>BUUK</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_bk_sm1.webp" alt="부엌간 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>부엌간 상무점</dt>
										<dd>BUUK</dd>
									</dl>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="card">
								<img src="../img/main/store/main_store_cbk2.webp" alt="카페 드 부엌간 스토어 이미지" />
								<div class="circle">
									<dl>
										<dt>카페 드 부엌간 해운대점</dt>
										<dd>Cafe' de BuuK</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="sc-contact">
		<div class="text-group">
			<span class="contact">Contact Us</span>
			<span class="desc">외식업 프랜차이즈 창업의 꿈.</span>
			<p class="title">지금 바로<span></span> 시작할 수 있습니다!</p>
		</div>
		<a href="" class="contact-link">
			<div class="img"><img src="../img/main/main_contact_circle.png" alt="contact BUUK" /></div>
			<div class="circle"><span class="blind">contact 바로가기</span></div>
		</a>
	</section>
</main>

<script>
	const mainStoreLeftSwiper = new Swiper('.sc-store .col-left .col-left-swiper', {
		loop: true,
		slidesPerView: 3,
		speed: 6000,
		allowTouchMove: false,
		spaceBetween: 30,
		// pauseOnMouseEnter: true,
		autoplay: {
			delay: 1,
		},
		breakpoints: {
			768: {
				direction: 'vertical',
				spaceBetween: 40,
			},
		},
	});

	const mainStoreRightSwiper = new Swiper('.sc-store .col-right .col-right-swiper', {
		loop: true,
		slidesPerView: 3,
		speed: 6000,
		allowTouchMove: false,
		spaceBetween: 30,
		autoplay: {
			delay: 1,
			reverseDirection: true,
		},
		breakpoints: {
			768: {
				direction: 'vertical',
				spaceBetween: 40,
			},
		},
	});
</script>
{% endblock %}
