.floating-btn {
	position: fixed;
	right: -180px;
	bottom: 60px;
	z-index: 50;
	display: flex;
	flex-direction: column;
	transition: right .3s;
	gap: 20px;
	.text {
		display: block;
		font-size: 18px;
		font-weight: 600;
		color: #fff;
	}
	.contact-link {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $primary-color;
		border-radius: 100%;
		box-shadow: 0 6px 10px rgba(0,0,0,.25);
		transform: scale(0);
		transition:
			opacity .3s,
			transform .3s;
		opacity: 0;
		@include size(105px, 105px);
	}
	.btn-top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $black-color;
		border-radius: 100%;
		box-shadow: 0 6px 10px rgba(0,0,0,.25);
		transform: scale(0);
		transition:
			opacity .3s,
			transform .3s;
		opacity: 0;
		gap: 7px;
		@include size(105px, 105px);
		img {
			@include size(15px, 9.47px);
		}
	}
	&.active {
		right: 55px;
		.contact-link,
		.btn-top {
			transform: scale(1);
			opacity: 1;
		}
	}

	@include mob-only {
		display: none;
	}
}
